<div>
	<div ng-hide='currentUser'>
		<blaze-template name="loginButtons"></blaze-template>
	</div>

	<div class="animate-show" ng-show='currentUser'>
		<p>User logged in: {{currentUser.emails[0].address}}, Score: {{currentUser.score}}, Accuracy: {{currentUser.correct*100/currentUser.answered | number:0}}%</p>	

		<div class="animate-show" ng-show="selectedCategory === ''">
			<div ng-repeat='cat in CATEGORIES track by $index'>
				<div class="btn btn-primary" ng-click='selectCategory(cat)'>{{cat}}</div>			
			</div>
		</div>

		<div class="animate-show" ng-show="selectedCategory !== ''">
			<p>Selected category: {{selectedCategory}}</p>
			<div class="btn btn-danger" ng-click="selectCategory('')">Back</div>
			<a ui-sref="play({category: selectedCategory})" class="btn btn-success">Begin game</a>
			<a ui-sref="contribute({category: selectedCategory})" class="btn btn-success">Add question</a>
		</div>

		<button ng-click='logout()'>Logout</button>
	</div>
</div>
